<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title><%= bread.name %></title> <!-- Dynamic title based on bread name -->
  </head>
  <body>
    <div class="bread-details">
    <h1><%= bread.name %></h1>
    <img id="randomBread"
      src="<% if (bread.name == 'Croissant') { %>
        /images/croissant.png
        <% } else if (bread.name == 'Baguette') { %>
          /images/bread 2.png
        <% } else if (bread.name == 'Rye') { %>
          /images/rye-bread.png
        <% } else if (bread.name == 'Whole grain') { %>
          /images/whole-grain.png
        <% } else if (bread.name == 'Sourdough') { %>
          /images/boule.png
        <% } else if (bread.name == 'Ciabatta') { %>
          /images/bread 3.png
        <% } else { %>
          /images/bread.png
          <% } %>" 
    alt="<%= bread.name %>" />
    <% if (bread.hasIngred) { %>
      <p>You have the ingredients!</p>
    <% } else { %>
      <p>You don't have the ingredients!</p>
    <% } %>
    <div class="bread-actions">
    <form class="delete-form" action="/breads/<%=bread._id%>?_method=DELETE" method="POST">
        <button class="delete-button" type="submit">Delete <%= bread.name %></button>
      </form>
      <a class="edit-link" href="/breads/<%= bread._id %>/edit">
        <div class="edit-text">Edit <%= bread.name %></div>
        </a>
    </div>
    </div>
      <a class="breads-index-link" href="/breads">
        <div class="index-link-text">Back to Breads</a></div>
      <a class="home-link" href="/">
        <div class="home-link-text">Home Page</a></div>
  </body>
</html>